---
layout: page
title: Presentations
---

<ul class="archive">
	<li>
		<div class="subheadline">10 October 2019</div>
		I've got a brand new Publisher (I'll give you the key) - Cocoa Completions
		<div class="callout"><a href="NSLondon/I've%20Got%20a%20Brand%20New%20Combine%20Publisher/I've%20Got%20a%20Brand%20New%20Combine%20Publisher.pdf">PDF</a></div>
	</li>
	<li>
		<div class="subheadline">19 September 2019</div>
		I've got a brand new Publisher (I'll give you the key) - HealthKit
		<div class="callout"><a href="https://www.youtube.com/watch?v=pnu8tLdEfZM">Video</a><a href="Tide-Gravitas/I've%20Got%20a%20Brand%20New%20Combine%20Publisher/I've%20Got%20a%20Brand%20New%20Combine%20Publisher.pdf">PDF</a></div>
	</li>
	<li>
		<div class="subheadline">5 September 2019</div>
		I've got a brand new Publisher (I'll give you the key) - AVFoundation
		<div class="callout"><a href="https://www.youtube.com/watch?v=QlzmUEqk88M">Video</a><a href="iOS%20Dev%20UK/I've%20Got%20a%20Brand%20New%20Combine%20Publisher/I've%20Got%20a%20Brand%20New%20Combine%20Publisher.pdf">PDF</a></div>
	</li>
	<li>
		<div class="subheadline">20 October 2018</div>
		Codify the Pattern: How Swift lets us eschew convention
		<div class="callout"><a href="https://www.youtube.com/watch?v=5Ok7-aplMSQ">Video</a><a href="Mobilization/Codify%20the%20Pattern.pdf">PDF</a><a href="Mobilization/Codify%20the%20Pattern.md">Deckset</a></div>
	</li>
	<li>
		<div class="subheadline">06 September 2017</div>
		Making Scriptable Apps
		<div class="callout"><a href="https://www.youtube.com/watch?v=uuiw8uuNMzk">Video</a><a href="iOS%20Dev%20UK/Making%20Scriptable%20Apps.pdf">PDF</a><a href="iOS%20Dev%20UK/Making%20Scriptable%20Apps.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">08 September 2015</div>
		Modelling Your Data
		<div class="callout"><a href="https://www.youtube.com/watch?v=Dvf-GIWnrno">Video</a><a href="iOS%20Dev%20UK/Modelling%20Your%20Data.pdf">PDF</a><a href="iOS%20Dev%20UK/Modelling%20Your%20Data.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">03 September 2014</div>
		Autosizing Table View Cells
		<div class="callout"><a href="https://www.youtube.com/watch?v=W3RGwQYK0mo">Video</a><a href="iOS%20Dev%20UK/Autosizing%20Table%20View%20Cells.pdf">PDF</a><a href="iOS%20Dev%20UK/Autosizing%20Table%20View%20Cells.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">16 December 2013</div>
		Compiling Data
		<div class="callout"><a href="https://www.youtube.com/watch?v=RQoeZrHr_fw">Video</a><a href="AltTechTalks/Compiling%20Data.pdf">PDF</a><a href="AltTechTalks/Compiling%20Data.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">03 September 2013</div>
		Everything but the Kitchen Sink
		<div class="callout"><a href="iOS%20Dev%20UK/Everything%20but%20the%20Kitchen%20Sink.pdf">PDF</a><a href="iOS%20Dev%20UK/Everything%20but%20the%20Kitchen%20Sink.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">05 September 2012</div>
		OAuth
		<div class="callout"><a href="LiDG/OAuth.pdf">PDF</a><a href="LiDG/OAuth.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">11 July 2012</div>
		Creating Great Mobile Libraries (iOSDevUK)
		<div class="callout"><a href="iOS%20Dev%20UK/Creating%20Great%20Mobile%20Libraries.pdf">PDF</a><a href="iOS%20Dev%20UK/Creating%20Great%20Mobile%20Libraries.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">04 July 2012</div>
		Creating Great Mobile Libraries (LiDG)
		<div class="callout"><a href="LiDG/Creating%20Great%20Mobile%20Libraries.pdf">PDF</a><a href="LiDG/Creating%20Great%20Mobile%20Libraries.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">04 January 2012</div>
		A few tips for threading with Core Data on iOS 5
		<div class="callout"><a href="LiDG/A%20few%20tips%20for%20threading%20with%20Core%20Data%20on%20iOS%205.pdf">PDF</a><a href="LiDG/A%20few%20tips%20for%20threading%20with%20Core%20Data%20on%20iOS%205.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">02 November 2011</div>
		Storyboarding
		<div class="callout"><a href="LiDG/Storyboarding.pdf">PDF</a><a href="LiDG/Storyboarding.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">07 September 2011</div>
		Introduction to Core Data
		<div class="callout"><a href="iOS%20Dev%20UK/Introduction%20to%20Core%20Data.pdf">PDF</a><a href="iOS%20Dev%20UK/Introduction%20to%20Core%20Data.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">06 April 2011</div>
		Introduction to Xcode 4
		<div class="callout"><a href="LiDG/Introduction%20to%20Xcode%204.pdf">PDF</a><a href="LiDG/Introduction%20to%20Xcode%204.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">22 March 2011</div>
		Making Core Data Your Bitch (NSConference 2011)
		<div class="callout"><a href="NSConference%202011/Making%20Core%20Data%20Your%20Bitch.pdf">PDF</a><a href="NSConference%202011/Making%20Core%20Data%20Your%20Bitch.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">05 January 2011</div>
		Making Core Data Your Bitch (LiDG)
		<div class="callout"><a href="LiDG/Making%20Core%20Data%20Your%20Bitch.pdf">PDF</a><a href="LiDG/Making%20Core%20Data%20Your%20Bitch.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">07 July 2010</div>
		Multitasking & DTResurrectionKit
		<div class="callout"><a href="LiDG/Multitasking%20&%20DTResurrectionKit.pdf">PDF</a><a href="LiDG/Multitasking%20&%20DTResurrectionKit.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">02 February 2010</div>
		SpringBack
		<div class="callout"><a href="NSConference%202010/SpringBack.pdf">PDF</a><a href="NSConference%202010/SpringBack.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">02 September 2009</div>
		Introduction to Core Data
		<div class="callout"><a href="LiDG/Introduction%20to%20Core%20Data.pdf">PDF</a><a href="LiDG/Introduction%20to%20Core%20Data.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">26 August 2009</div>
		Designing for the iPhone Developer
		<div class="callout"><a href="Brighton%20iPhone%20Creators/Designing%20For%20The%20iPhone%20Developer.pdf">PDF</a><a href="Brighton%20iPhone%20Creators/Designing%20For%20The%20iPhone%20Developer.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">08 July 2009</div>
		UIKit Improvements in 3.0
		<div class="callout"><a href="LiDG/UIKit%20Improvements%20in%203.0.pdf">PDF</a><a href="LiDG/UIKit%20Improvements%20in%203.0.key">Keynote</a></div>
	</li>
	<li>
		<div class="subheadline">06 May 2009</div>
		Utilising View Controllers
		<div class="callout"><a href="LiDG/Utilising%20View%20Controllers.pdf">PDF</a><a href="LiDG/Utilising%20View%20Controllers.key">Keynote</a></div>
	</li>
</ul>